In [1]:
import pandas as pd

In [3]:
df_charging_sessions = pd.read_csv("./charging_sessions.csv")
print(df_charging_sessions.head())

   Unnamed: 0                        id             connectionTime  \
0           0  5e23b149f9af8b5fe4b973cf  2020-01-02 13:08:54+00:00
1           1  5e23b149f9af8b5fe4b973d0  2020-01-02 13:36:50+00:00
2           2  5e23b149f9af8b5fe4b973d1  2020-01-02 13:56:35+00:00
3           3  5e23b149f9af8b5fe4b973d2  2020-01-02 13:59:58+00:00
4           4  5e23b149f9af8b5fe4b973d3  2020-01-02 14:00:01+00:00

              disconnectTime           doneChargingTime  kWhDelivered  \
0  2020-01-02 19:11:15+00:00  2020-01-02 17:31:35+00:00        25.016
1  2020-01-02 22:38:21+00:00  2020-01-02 20:18:05+00:00        33.097
2  2020-01-03 00:39:22+00:00  2020-01-02 16:35:06+00:00         6.521
3  2020-01-02 16:38:39+00:00  2020-01-02 15:18:45+00:00         2.355
4  2020-01-02 22:08:40+00:00  2020-01-02 18:17:30+00:00        13.375

                                sessionID  siteID  spaceID    stationID  \
0  1_1_179_810_2020-01-02 13:08:53.870034       1  AG-3F30  1-1-179-810
1  1_1_193_825_2020-01-02 13:36:49.599853       1  AG-1F01  1-1-193-825
2  1_1_193_829_2020-01-02 13:56:35.214993       1  AG-1F03  1-1-193-829
3  1_1_193_820_2020-01-02 13:59:58.309319       1  AG-1F04  1-1-193-820
4  1_1_193_819_2020-01-02 14:00:00.779967       1  AG-1F06  1-1-193-819

              timezone  userID  \
0  America/Los_Angeles   194.0
1  America/Los_Angeles  4275.0
2  America/Los_Angeles   344.0
3  America/Los_Angeles  1117.0
4  America/Los_Angeles   334.0

                                          userInputs
0  [{'WhPerMile': 250, 'kWhRequested': 25.0, 'mil...
1  [{'WhPerMile': 280, 'kWhRequested': 70.0, 'mil...
2  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
3  [{'WhPerMile': 400, 'kWhRequested': 8.0, 'mile...
4  [{'WhPerMile': 400, 'kWhRequested': 16.0, 'mil...

In [4]:
df_charging_sessions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66450 entries, 0 to 66449
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        66450 non-null  int64
 1   id                66450 non-null  object
 2   connectionTime    66450 non-null  object
 3   disconnectTime    66450 non-null  object
 4   doneChargingTime  62362 non-null  object
 5   kWhDelivered      66450 non-null  float64
 6   sessionID         66450 non-null  object
 7   siteID            66450 non-null  int64
 8   spaceID           66450 non-null  object
 9   stationID         66450 non-null  object
 10  timezone          66450 non-null  object
 11  userID            49187 non-null  float64
 12  userInputs        49187 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 6.6+ MB

In [11]:
# insgesamte Anzahl der Zeilen
anzahl_zeilen = df_charging_sessions.any(axis=1).sum()
print(f"Anzahl der Zeilen im Dataframe: {anzahl_zeilen}")

# Anzahl der Zeilen mit mindestens einem fehlenden Wert
anzahl_fehlende_werte = df_charging_sessions.isnull().any(axis=1).sum()
print(f"Anzahl der Zeilen mit fehlenden Werten: {anzahl_fehlende_werte}")

Anzahl der Zeilen im Dataframe: 66450
Anzahl der Zeilen mit fehlenden Werten: 20442

In [13]:
df_null_werte = df_charging_sessions[df_charging_sessions.isnull().any(axis=1)]
df_null_werte.head(10)

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
11,11,5e23b149f9af8b5fe4b973da,2020-01-02 15:04:38+00:00,2020-01-02 23:33:26+00:00,2020-01-02 22:48:48+00:00,0.812,1_1_194_818_2020-01-02 15:04:37.511153,1,AG-1F14,1-1-194-818,America/Los_Angeles,NaN,NaN
41,41,5e23b149f9af8b5fe4b973f8,2020-01-02 17:21:05+00:00,2020-01-02 20:10:40+00:00,2020-01-02 19:59:39+00:00,0.852,1_1_191_782_2020-01-02 17:21:04.799964,1,AG-4F50,1-1-191-782,America/Los_Angeles,NaN,NaN
180,180,5e2a48e8f9af8b75aed8e941,2020-01-07 14:31:09+00:00,2020-01-08 00:46:30+00:00,2020-01-07 15:07:06+00:00,0.847,1_1_179_800_2020-01-07 14:31:09.167002,1,AG-3F32,1-1-179-800,America/Los_Angeles,NaN,NaN
193,193,5e2a48e8f9af8b75aed8e94e,2020-01-07 15:00:25+00:00,2020-01-07 23:30:37+00:00,2020-01-07 22:54:11+00:00,0.735,1_1_179_779_2020-01-07 15:00:25.479475,1,AG-3F17,1-1-179-779,America/Los_Angeles,NaN,NaN
265,265,5e2b9a62f9af8b7d745b131d,2020-01-08 15:01:52+00:00,2020-01-08 19:01:39+00:00,2020-01-08 16:33:58+00:00,0.769,1_1_179_801_2020-01-08 15:01:51.810453,1,AG-3F21,1-1-179-801,America/Los_Angeles,NaN,NaN
276,276,5e2b9a62f9af8b7d745b1329,2020-01-08 15:19:13+00:00,2020-01-08 23:03:48+00:00,2020-01-08 22:38:28+00:00,0.935,1_1_191_792_2020-01-08 15:20:13.140174,1,AG-4F37,1-1-191-792,America/Los_Angeles,NaN,NaN
407,407,5e2e3d68f9af8b066b3749e8,2020-01-10 14:59:44+00:00,2020-01-10 23:40:46+00:00,2020-01-10 22:56:50+00:00,0.739,1_1_179_783_2020-01-10 14:59:43.966537,1,AG-3F29,1-1-179-783,America/Los_Angeles,NaN,NaN
457,457,5e2f8ea1f9af8b0a558fbd7b,2020-01-11 14:32:30+00:00,2020-01-11 17:28:39+00:00,2020-01-11 15:07:19+00:00,0.837,1_1_194_826_2020-01-11 14:32:30.490042,1,AG-1F11,1-1-194-826,America/Los_Angeles,NaN,NaN
474,474,5e3231f7f9af8b13f2ff13b7,2020-01-13 13:39:00+00:00,2020-01-13 15:15:44+00:00,2020-01-13 14:13:33+00:00,0.854,1_1_194_818_2020-01-13 13:38:59.701092,1,AG-1F14,1-1-194-818,America/Los_Angeles,NaN,NaN
500,500,5e3231f7f9af8b13f2ff13d1,2020-01-13 15:04:30+00:00,2020-01-13 23:33:26+00:00,2020-01-13 22:43:44+00:00,0.721,1_1_179_790_2020-01-13 15:04:29.887715,1,AG-3F19,1-1-179-790,America/Los_Angeles,NaN,NaN

In [15]:
print(df_null_werte[df_null_werte["userID"].notnull() & df_null_werte["userInputs"].isnull()])

Empty DataFrame
Columns: [Unnamed: 0, id, connectionTime, disconnectTime, doneChargingTime, kWhDelivered, sessionID, siteID, spaceID, stationID, timezone, userID, userInputs]
Index: []

In [18]:
spalten_liste = df_null_werte.columns.to_list()
print(spalten_liste)
for spalte in spalten_liste:
    anzahl_null_pro_spalte = df_null_werte[spalte].isnull().sum()
    print(f"In Spalte {spalte} gibt es {anzahl_null_pro_spalte} Null-Spalten")

['Unnamed: 0', 'id', 'connectionTime', 'disconnectTime', 'doneChargingTime', 'kWhDelivered', 'sessionID', 'siteID', 'spaceID', 'stationID', 'timezone', 'userID', 'userInputs']
In Spalte Unnamed: 0 gibt es 0 Null-Spalten
In Spalte id gibt es 0 Null-Spalten
In Spalte connectionTime gibt es 0 Null-Spalten
In Spalte disconnectTime gibt es 0 Null-Spalten
In Spalte doneChargingTime gibt es 4088 Null-Spalten
In Spalte kWhDelivered gibt es 0 Null-Spalten
In Spalte sessionID gibt es 0 Null-Spalten
In Spalte siteID gibt es 0 Null-Spalten
In Spalte spaceID gibt es 0 Null-Spalten
In Spalte stationID gibt es 0 Null-Spalten
In Spalte timezone gibt es 0 Null-Spalten
In Spalte userID gibt es 17263 Null-Spalten
In Spalte userInputs gibt es 17263 Null-Spalten

In [19]:
df_null_doneChargingTime = df_null_werte[df_null_werte["doneChargingTime"].isnull()]
df_null_doneChargingTime.head()

,Unnamed: 0,id,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,sessionID,siteID,spaceID,stationID,timezone,userID,userInputs
3756,3756,5ea3848df9af8b428bf97225,2020-04-08 16:36:53+00:00,2020-04-09 03:43:29+00:00,NaN,25.183,1_1_194_822_2020-04-08 16:36:53.316264,1,AG-1F12,1-1-194-822,America/Los_Angeles,507.0,"[{'WhPerMile': 250, 'kWhRequested': 75.0, 'mil..."
3757,3757,5ea4d60df9af8b46573f1ee7,2020-04-09 13:23:52+00:00,2020-04-09 17:59:02+00:00,NaN,14.136,1_1_193_827_2020-04-09 13:23:51.689520,1,AG-1F02,1-1-193-827,America/Los_Angeles,419.0,"[{'WhPerMile': 400, 'kWhRequested': 40.0, 'mil..."
3758,3758,5ea4d60df9af8b46573f1ee8,2020-04-09 13:40:03+00:00,2020-04-09 21:43:22+00:00,NaN,14.203,1_1_178_823_2020-04-09 13:39:55.115497,1,AG-1F08,1-1-178-823,America/Los_Angeles,5065.0,"[{'WhPerMile': 400, 'kWhRequested': 24.0, 'mil..."
3759,3759,5ea4d60df9af8b46573f1ee9,2020-04-09 14:01:53+00:00,2020-04-09 16:33:40+00:00,NaN,13.041,1_1_178_828_2020-04-09 14:01:53.467693,1,AG-1F10,1-1-178-828,America/Los_Angeles,651.0,"[{'WhPerMile': 400, 'kWhRequested': 20.0, 'mil..."
3760,3760,5ea4d60df9af8b46573f1eea,2020-04-09 15:01:06+00:00,2020-04-09 23:38:08+00:00,NaN,5.797,1_1_193_820_2020-04-09 15:01:06.343454,1,AG-1F04,1-1-193-820,America/Los_Angeles,466.0,"[{'WhPerMile': 300, 'kWhRequested': 6.0, 'mile..."

In [20]:
df_weather = pd.read_csv("./weather_burbank_airport.csv")
print(df_weather.head())

      city            timestamp  temperature  cloud_cover  \
0  Burbank  2018-01-01 08:53:00          9.0         33.0
1  Burbank  2018-01-01 09:53:00          9.0         33.0
2  Burbank  2018-01-01 10:53:00          9.0         21.0
3  Burbank  2018-01-01 11:53:00          9.0         29.0
4  Burbank  2018-01-01 12:53:00          8.0         33.0

  cloud_cover_description  pressure  windspeed  precipitation  \
0                    Fair    991.75        9.0            0.0
1                    Fair    992.08        0.0            0.0
2                    Haze    992.08        0.0            0.0
3           Partly Cloudy    992.08        0.0            0.0
4                    Fair    992.08        0.0            0.0

   felt_temperature
0               8.0
1               9.0
2               9.0
3               9.0
4               8.0